@import "@/css/variable.css";

.my-apply-container {
    margin: 0 auto;
    width: 80%;

    .status {
        display: inline-block;
        min-width: 60px;
        height: 20px;

        color: white;
        background-color: #363636;

        text-align: center;
        border-radius: 2px;
        padding: 2px;

        &.review_pending {
            background: $primaryColor;
        }

        &.review_passed {
            background: $successColor;
        }

        &.review_not_passed {
            background: $dangerColor;
        }

        &.draft {
            background: $warningColor;
        }
    }

}