.award-container {
  height: inherit;
  .f-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .f-c-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f-c-space-arround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .f-space-arround {
    display: flex;
    justify-content: space-around;
  }
  .f-space-between {
    display: flex;
    justify-content: space-between;
  }
  .w-100 {
    width: 100%;
  }
  .w-99 {
    width: 99%;
  }
  .w-90 {
    width: 90%;
  }
  .w-80 {
    width: 80%;
  }
  .header-container {
    display: inline-block;
    width: 100%;
    .button-panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-panel {
        display: inline-block;
        width: 70%;
      }
      .right-panel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        .fliter-button {
          width: 28px;
          min-width: 0;
          div {
            display: inline-block;
            width: 28px;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .bk-collapse-item-header {
    .no-trigger-area {
      width: 100%;
    }
  }
  .bk-inline-form {
    width: 100%;
  }
  .filter-form {
    .bk-form-item {
      width: 100%;
      .bk-form-content {
        width: 60%;
      }
    }
  }
}
