.new-award-form-container {
  .award-form-container {
    width: 95%;
    .form-group {
      display: flex;
      align-items: center;
      width: inherit;
    }
    .uploader {
      height: 100%;
    }
  }
  .uploader {
    .file-wrapper {
      height: 120px;
    }
  }
}
