
.status{
    background-color: #363636;
    color: white;
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 60px/60px;
}
.input-demo {
    width: 60px;
}
.depart-name{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin: 0%;
    padding: 0%;
    height: 39.2px;
    line-height: 39.2px;
}