.detail-head{
    margin-left: 3%;
    margin-top: 2%;
}
.input-demo {
    font-size: 5px;
    display: inline-flex;
    width: 16%;
    margin-right: 15px;
}
.item-Info{
    display: inline-flex;
    width: 60%;
}
.item-name{
    display: inline-block;
    width: 30%;
    height: 32px;
    line-height: 32px;
}
.second-name{
    display: inline-block;
    vertical-align:bottom;
    font-size: 5px;
    width: 5.3%;
    height: 100px;
}
.describe{
    margin-top: 1%;
    font-size: 5px;
    background-color: rgb(250, 251, 253);
    display: inline-block;
    height: 100px;
    width: 86.5%;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 222, 229);
}
.bottom-detail{
    margin-top: 1%;
    margin-left: 6%;
    display: inline-block;
    width: 40%;
    height: auto;
}
.apply-user{
    font-size: 5px;
    display: inline-block;
    width: 45px;
}