.detail-head{
    margin-left: 3%;
    margin-top: 2%;
}
.input-demo {
    font-size: 5px;
    display: inline-flex;
    width: 16%;
    margin-right: 15px;
}
.item-Info{
    display: inline-flex;
    width: 60%;
}
.item-name{
    display: inline-block;
    width: 30%;
    height: 32px;
    line-height: 32px;
}
.second-name{
    display: inline-block;
    vertical-align:bottom;
    font-size: 5px;
    width: 5.3%;
    height: 100px;
}
.describe{
    margin-top: 1%;
    font-size: 5px;
    background-color: black;
    background-color: rgb(250, 251, 253);
    display: inline-block;
    height: 100px;
    width: 86.5%;
    padding-left: 5px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px;
    border-color: rgb(220, 222, 229);
    border-style: solid;
}
.bottom-detail{
    margin-top: 1%;
    margin-left: 6%;
    display: inline-block;
    width: 40%;
    height: auto;
}
.apply-user{
    font-size: 5px;
    display: inline-block;
    width: 45px;
}
.user-input{
    display: inline-block;
    width: 71%;
    margin-left: 10px;
    background-color: rgb(250, 251, 253);
    border-color: rgb(220, 222, 229);
    border-radius: 1px;
}
.apply-reason{
    display: inline-block;
    height: 100px;
    margin-top: 10px;
    width: 85%;
    background-color: rgb(250, 251, 253);
    border-color: rgb(220, 222, 229);
    border-radius: 1px;
}
.attachment-upload{
    display: inline-block;
    width: 55%;
}
.bk-input-reason{
    display: inline-block;
    height: 100px;
    margin-top: 10px;
    width: 85%;
    background-color: rgb(250, 251, 253);
    /* border-color: rgb(220, 222, 229); */
    /* border-radius: 1px; */
}
.file-upload{
    display: inline-block;
    height: auto;
    width: 100%;
    height: auto;
    /* background-color: black; */
}