.dialog-area-container {
    .footer-panel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .footer-button {
            position: absolute;
            bottom: 0;
            margin: 0 24px;
        }
    }
}
